<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/navbar.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
       
        <div class="nav">
             <a href="/" id="logo">SEUPADDOCK</a>
             <a  href="/gp">GP's</a>
             <a  href="/equipes">Equipes</a>
             <a  href="/sobre">Sobre</a>
             <a href="/forms">Form</a>
        </div>
    </header>

