<%- include('./partials/header') %>
  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./stylesheets/style.css">
      <link rel="stylesheet" href="./stylesheets/navbar.css">
      <title>Equipes</title>
  </head>
    <body>
        <div class="contentEqp">
            <h2> F1 Equipes 2024</h2>
        </div>
        <div class="image-grid">
          <img src="./images/RBR.png" alt="Red Bull">
          <img src="./images/mcl.png" alt="McLaren">
          <img src="./images/ferrari.png" alt="Ferrari">
          <img src="./images/Mercedes.png" alt="Mercedes">
          <img src="./images/astonM.png" alt="Aston Martin">
          <img src="./images/RB.png" alt="RB">
          <img src="./images/haas.png" alt="Haas">
          <img src="./images/alpine.png" alt="Alpine">
          <img src="./images/williams.png" alt="williams">
          <img src="./images/sauber.png" alt="Sauber">
        </div>
    </body>
