<%- include('./partials/header') %>
  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./stylesheets/style.css">
      <link rel="stylesheet" href="./stylesheets/navbar.css">
      <title>GP</title>
  </head>
      <body>
          <div class="contentGp">
              <h2> Grandes Premios</h2> <br>
              <p>Os locais onde ocorrem as corridas são chamadas de Grandes Prêmios(GP), abaixo estão os Principais GP's da atual temporada: </p>
          </div>
          <div class="image-gp">
                <img src="./images/suzuka.png" alt="Circuito de Suzuka">
                <p>GP de Suzuka- O Circuito de Suzuka, no Japão, é conhecido por ser desafiador e o famoso "S" curvilíneo. É um dos poucos circuitos no mundo com formato de figura 8 e é amplamente apreciado por pilotos e fãs pela sua complexidade e variedade de curvas.</p>
              </div>

          <div class="image-gp">
                <img src="./images/imola.png" alt="Circuito de Imola">
                <p>GP de Imola - Circuito Enzo e Dino Ferrari, famoso por suas curvas rápidas e desafiadoras.</p>
              </div>

              <div class="image-gp">
                <img src="./images/monaco.png" alt="Circuito de Mônaco">
                <p>GP de Mônaco - Circuito de Monte Carlo, um dos mais icônicos e difíceis de ultrapassar, localizado nas ruas de Mônaco.</p>
              </div>

              <div class="image-gp">
                <img src="./images/silverstone.png" alt="Circuito de Silverstone">
                <p>GP de Silverstone - Circuito histórico na Inglaterra, conhecido por suas rápidas curvas e clima imprevisível.</p>
              </div>

              <div class="image-gp">
                <img src="./images/spa.png" alt="Circuito de Spa-Francorchamps">
                <p>GP de Spa-Francorchamps - Um dos circuitos mais desafiadores da Fórmula 1, localizado na Bélgica, conhecido pelo Eau Rouge.</p>
              </div>

              <div class="image-gp">
                <img src="./images/monza.png" alt="Circuito de Monza">
                <p>GP de Monza - Localizado na Itália, é conhecido por suas altas velocidades e o famoso Templo da Velocidade.</p>
              </div>

              <div class="image-gp">
                <img src="./images/spielberg.png" alt="Circuito de Spielberg">
                <p>GP de Spielberg - Circuito Red Bull Ring na Áustria, famoso por sua beleza natural e traçado compacto.</p>
              </div>

              <div class="image-gp">
                <img src="./images/montreal.png" alt="Circuito de Montreal">
                <p>GP de Montreal - Circuito Gilles Villeneuve no Canadá, conhecido por suas zonas de ultrapassagem e pela parede dos campeões.</p>
              </div>

              <div class="image-gp">
                <img src="./images/interlagos.png" alt="Circuito de Interlagos">
                <p>GP de Interlagos - Localizado no Brasil, o Circuito José Carlos Pace é famoso por seu público apaixonado e corridas emocionantes.</p>
              </div> 
          </div>
      </body>
