<%- include('./partials/header') %>
<!DOCTYPE html>
  <html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./stylesheets/style.css">
      <link rel="stylesheet" href="./stylesheets/navbar.css">
      <title>Home</title>
  </head>
  <body>
    <main>
      <div class="container">
        <center>
          <img src="./images/F1logo.png";>
        </center> 
      </div>

      <div class="main-text">
          <h2> “A Fórmula 1 é um tempo perdido se não for para vencer.”
            <br> Ayrton Senna </h2>
            </div>
    </main>
      </div>
  

</body>
  
<%- include('./partials/footer') %>