<%- include('./partials/header') %>
 <!DOCTYPE html>
  <html lang="pt-br">

  <head>
    <title>Sobre</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  
  </head>
    <body id="body1">
      <div class="contentsobre">
        <h1>SOBRE</h1> <br>
          <p>Site feito pelo aluno Gabriel Ferreira do Monte do P5 de Informatica do IFCE <br> Espelhado na Formula 1 onde o usuario podera escolher o seu paddock, sendo assim escolhendo a equipe mais se identifica.</p> 
      </div>

     <script src="script.js"></script>
    </body>

</html> 